<article>
  <h1 class="TodoPage-title">My To-do List</h1>
  <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
    <input class="AddTodo-text" type="text" name="todo_text" placeholder="What's next?"/>
    <input class="AddTodo-date" type="date" name="due_date" />
    <input class="AddTodo-button" type="submit" value="Add"/>
  <% end %>

  <%= render partial: "todo-section", locals: {
               section_title: "Overdue",
               todos: Todo.overdue,
               show_due_date: true,
             } %>
  <%= render partial: "todo-section", locals: {
               section_title: "Due Today",
               todos: Todo.due_today,
               show_due_date: false,
             } %>
  <%= render partial: "todo-section", locals: {
               section_title: "Due Later",
               todos: Todo.due_later,
               show_due_date: true,
             } %>
</article>
