.NewUsers-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.Form-section {
  margin-bottom: 20px;
}

.Form-input {
  font-size: 15px;
  padding: 10px;
  width: 50%;
  height: 50%;
}

.FormInput-label {
  color: #555555;
  margin-bottom: 8px;
}

.Form-submit {
  font-size: 14px;
  color: white;
  background-color: #48bb78;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  height: 35px;
  cursor: pointer;
  width: 55%;
}
